html,
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    min-width: 320px;
    background: #0906061C;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    height: 100%;
    background-color: #0906061C;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-shadow: 0 .01rem .01rem rgba(0, 0, 0, .2);
    /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .2); */
    /* box-shadow: inset 0 0 1rem rgba(0, 0, 0, .3); */
    /* background-image: url("bg_d.jpg"); */
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}

.logo {
    height: 70px;
    float: left;
    margin: 10px;
}

@media all and (max-width: 600px) 
{
    .logo {
        height: unset;
        width: 50%; 
    }
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#bot {
    background-image: url('side.png');
    min-height: 30%;
    min-width: 35%;
    background-size: contain;
    background-color: #e3e3e3;
    background-position: center;
    background-repeat: no-repeat;
}

.desc_section {
    width: 100%; 
    float: left;
}

#main_form {
    text-align: left;
}

.nav {
    float: right;
}


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/* Links */

a,
a:focus,
a:hover {
    color: #909090;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

.help_icon {
    width: 18px;
}

/*
 * Base structure
 */

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
    width: 100%;
    padding: 10px 30px;
    /* background-color: aqua; */
    /* background: linear-gradient(135deg, #6ff0f7 0%, #83c4e2 100%) */
    background: -moz-linear-gradient(90deg, rgba(114,235,245,1) 0%, rgb(58 212 219) 72%, rgb(72 193 251) 100%);
    background: -webkit-linear-gradient(90deg, rgba(114,235,245,1) 0%, rgb(58 212 219) 72%, rgb(72 193 251) 100%);
    background: -o-linear-gradient(90deg, rgba(114,235,245,1) 0%, rgb(58 212 219) 72%, rgb(72 193 251) 100%);
    background: -ms-linear-gradient(90deg, rgba(114,235,245,1) 0%, rgb(58 212 219) 72%, rgb(72 193 251) 100%);
    background: linear-gradient(90deg, rgba(114,235,245,1) 0%, rgb(58 212 219) 72%, rgb(72 193 251) 100%);
}

.desc_section {
    display: block;
    margin: auto; 
    padding-top: 7rem;
    padding-bottom: 3rem;
}


/* DOWNLOAD SECTION */
.download_section {
    margin: 50px auto;
    display: block;
}

.download_wrapper {
    margin: 5px;
    float: left;
    width: fit-content;
    position: relative;
}

.download_icon {
    width: 20px;
    margin: 10px;
}

.download_btn {
    background-color: #288fbd;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 1.2em;
    white-space: nowrap;
    margin: 5px 20px; 
}

.download_btn:hover,  .download_btn:visited,  .download_btn:focus{
     color: white;
     text-decoration: none;

}

.same_icon {
    width: 150px; 
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(306deg);
}

.same_word  {
    color: #d00b0b; 
    font-weight: 700;
}

.main_section {
    height: calc(100vh);
    margin: auto;
}

.masthead-brand {
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(0, 0, 0, .5);
    background-color: transparent;
    /* border-bottom: .25rem solid #423d3d0f; */
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}

.input_section {
    margin: 2.5rem 0;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(100, 100, 100, .5);
}

.tooltip-inner {
    text-align: left;
}